## Menentukan library yang akan digunakan

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Load dataset

In [2]:
Customer_Behaviour = pd.read_csv('Customer_Behaviour.csv')

In [3]:
Customer_Behaviour.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

## Memisahkan data atribut dengan label

In [4]:
X = Customer_Behaviour.drop(columns='Purchased', axis=1)
Y = Customer_Behaviour['Purchased']

In [5]:
print(X)

      User ID  Gender  Age  EstimatedSalary
0    15624510       1   19            19000
1    15810944       1   35            20000
2    15668575       0   26            43000
3    15603246       0   27            57000
4    15804002       1   19            76000
..        ...     ...  ...              ...
395  15691863       0   46            41000
396  15706071       1   51            23000
397  15654296       0   50            20000
398  15755018       1   36            33000
399  15594041       0   49            36000

[400 rows x 4 columns]

In [6]:
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

## Memisahkan data training dengan data testing

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [8]:
print (X.shape, X_train.shape, X_test.shape)

(400, 4) (320, 4) (80, 4)

## Membuat model training

In [9]:
model = LogisticRegression()

In [10]:
model.fit(X_train, Y_train)

LogisticRegression()

## Evaluasi Model

In [11]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [12]:
print('akurasi data training: ', training_data_accuracy)

akurasi data training:  0.771875

In [13]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [14]:
print('akurasi data testing:', test_data_accuracy)

akurasi data testing: 0.7875

## Membuat Model Prediksi

In [19]:
input_data = (15600575,1,25,33000)
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)
prediction = model.predict(input_data_reshaped)
print(prediction)

if(prediction[0] == 0):
    print('Pelanggan tidak membeli produk')
else:
    print('Pelanggan membeli produk')

[0]
Pelanggan tidak membeli produk

c:\Users\Kus Irawan Indra S\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

## Simpan Model

In [17]:
import pickle

In [18]:
filename = 'Customer_Behaviour.sav'
pickle.dump(model, open(filename, 'wb'))